.headerWrapper {
  background-color: rgb(231, 244, 245);
  border-bottom: 2px solid rgb(0, 0, 83);
  width: 100%;
}

.headerContainer {
  max-width: 1200px;
}

.headerTitle {
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
}

.flag {
  width: 25px;
  height: 20px;
  border-radius: 3px;
}

.rateWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rateText {
    margin-left: 30px;
    font-size: 16px;
}