.converterWrapper {
  background-color: rgb(240, 240, 240);
  padding-bottom: 150px;
}

.mainSectionContainer {
  max-width: 1200px;
}

.converterInputsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converterTitle {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 30px;
}

.converterInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFrom {
  background-color: rgb(255, 247, 212);
  outline: none;
}

.arrows {
  margin-left: 9px;
}

.madeBy {
  color: rgb(153, 153, 153);
  text-align: end;
  font-size: 12px;
  margin-top: 150px;
}


@media (max-width: 768px) {
  .converterInputsWrapper {
    display: block;
  }

  .arrowsWrapper {
    margin: 0 auto;
    text-align: center;
  }
}
