.converterInputsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.converterInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
